[submodule "Valzuroid/vendor/spdlog"]
	path = Valzuroid/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Valzuroid/Valzuroid/vendor/spdlog"]
	path = Valzuroid/Valzuroid/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Valzuroid/vendor/GLFW"]
	path = Valzuroid/vendor/GLFW
	url = https://github.com/Valzur/glfw.git
[submodule "Valzuroid/vendor/imgui"]
	path = Valzuroid/vendor/imgui
	url = https://github.com/Valzur/imgui.git
